/* global */
:root {
  --headerHeight : 8vh
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Abel', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
.header {
  position: relative;
  height: var(--headerHeight);
  display: flex;
  align-items: center;
  background-color: rgb(60, 60, 60);
  color: antiquewhite;
  padding: 0 20px;
}
.club-name {
  display: flex;
  align-items: center;
}
.club-name:hover {
  color:antiquewhite
}
.fa-horse {
  font-size: 1.3rem;
}
.club-name h1 {
  font-size: 1.8rem;
  margin-left: 8px;
}
.burger {
  position: absolute;
  right: 15px;
  top: calc((var(--headerHeight) - 20px) / 2);
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.burger span {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: antiquewhite;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease-in-out;
}
.burger span::before, .burger span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: antiquewhite;
  transition: transform 0.3s ease-in-out;
}
.burger span::before {
  transform: translateY(-10px);
}
.burger span::after {
  transform: translateY(10px);
}
.burger.active span {
  background-color: transparent;
}
.burger.active span::before {
  transform: translateY(0) rotateZ(-45deg);
}
.burger.active span::after {
  transform: translateY(0) rotateZ(45deg);
}
.mynavbar ul {
  position: absolute;
  top: var(--headerHeight);
  right: 0;
  z-index: 2;
  opacity: 0;
  min-width: 20%;
  max-width: 50%;
  box-shadow: -2px 2px 6px #333333;
  transition: opacity 0.3s ease-in-out;
}
.mynavbar.active ul {
  opacity: 1;
  padding: 0;
  margin: 0;
}
.mynavbar li {
  display: none;
  background-color: rgb(70, 70, 70);
}
.mynavbar.active li {
  display: block;
}
.mynavbar a {
  display: block;
  border-top: 0.5px solid antiquewhite;
  padding: 10px 25px;
  font-size: 1rem;
  font-family: sans-serif;
}
.mynavbar.active a:hover {
  background-color: rgb(94, 90, 90);
  color: antiquewhite;
}
@media screen and (min-width: 1400px) {
  .burger {
    display: none;
  }
  .mynavbar ul {
    opacity: 1;
    top: 0;
    bottom: 0;
    box-shadow: none;
    max-width: 80%;
  }
  .mynavbar li {
    display: inline-block;
    background-color: rgb(60, 60, 60);
  }
  .mynavbar a {
    border: none;
    font-size: 1.2rem;
    height:  var(--headerHeight);
    padding: calc((var(--headerHeight) - 1.2rem) / 2) 10px;
    margin: 0 10px;
    transition: all 0.2s;
  }
  .mynavbar a:hover {
    border-bottom: 5px solid #fff;
    background-color: rgb(94, 90, 90);
    color: antiquewhite
  }
}

/* main background image */
.bg-image {
  height: 100vh;
  width: 100%;
  background: url(../media/bg-1.jpg) no-repeat center/cover;
  animation: slider-bg 40s linear infinite;
  animation-delay: 5s;
}
@keyframes slider-bg {
  0% {
    background-image: url(../media/bg-1.jpg);
  }
  25% {
    background-image: url(../media/bg-3.jpg);
  }
  50% {
    background-image: url(../media/bg-1.jpg);
  }
  75% {
    background-image: url(../media/bg-3.jpg);
  }
  100% {
    background-image: url(../media/bg-1.jpg);
  }
}
.slogan {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  opacity: 0;
  color:  antiquewhite;
  text-shadow: 2px 2px 5px #373737;
  animation: intro 5s ease forwards;
  margin: 0 auto;
}
.slogan p:nth-child(1) {
  font-size: 3rem;
  margin: 10vh 0 2vh;
}
.slogan p:nth-child(3) {
  margin: 2vh 0;
  font-size: 1.5rem;
}
@media screen and (min-width: 900px) {
  .slogan {
    max-width: 800px;
  }
  .slogan p:nth-child(1) {
    font-size: 4rem;
  }
  .slogan p:nth-child(3) {
    font-size: 2rem;
  }
}
.slogan hr {
  color:  antiquewhite;
}
@keyframes intro {
  to {
    top: 50%;
    opacity: 1;
  }
}
/* section about */
.about {
  height: 0vh;
}
.content-about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
}
.text-about, .img-about {
  width: 80%;
  margin: 8vh auto;
}
.text-about h2 {
  text-align: center;
  font-size: 2rem;
  margin: 3vh 0;
}
.text-about p {
  text-align: justify;
  font-size: 1.5rem;
  margin: 3vh 0;
}
.text-about i {
  display: block;
  text-align: center;
}
.img-about {
  height: 60vh;
  background: url(../media/bg-2.jpg) no-repeat center/cover;
  box-shadow: 3px 3px 8px black;
  border-radius: 10px;
}
@media screen and (min-width: 1200px) {
  .content-about {
    flex-direction: row;    
  }
  .text-about, .img-about {
    width: 40%;
    margin: 10vh auto;
  }
}
/* section nos chevaux */
.horses {
  background: linear-gradient(to bottom, #8F8F8F 0%, #373737 50%, #8F8F8F 100%);
  color: antiquewhite;
  text-align: center;
  padding-bottom: 5vh;
}
.horses h2 {
  font-size: 3rem;
  margin: 0 auto;
  padding: 10vh 0 5vh;
  text-shadow: 2px 2px 5px #373737;
}
.horses p {
  font-size: 1.5rem;
  margin: 0 10%;
  padding-bottom: 5vh;
}
.our-horses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.carte {
  background-color: antiquewhite;
  color: #373737;
  width: 90%;
  margin: 1vh 5%;
  height: 800px;
  box-shadow: 3px 3px 8px black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.carte:hover {
  transform: scale(1.03);
}
.img-horse {
  height: 450px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 2px 8px #373737;
}
.cheval-1 {
  background-image: url(../media/cheval-1.jpg);
}
.cheval-2 {
  background-image: url(../media/cheval-2.jpg);
}
.cheval-3 {
  background-image: url(../media/cheval-3.jpg);
}
.cheval-4 {
  background-image: url(../media/cheval-4.jpg);
}
.cheval-5 {
  background-image: url(../media/cheval-5.jpg);
}
.cheval-6 {
  background-image: url(../media/cheval-6.jpg);
}
.carte h3 {
  font-size: 2rem;
  padding: 2vh 0 20px;
}
.carte i {
  font-size: 1.5rem;
}
.carte span {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 40px 0 10px;
}
.carte span:nth-child(8) {
  padding-right: 0;
}
.carte hr {
  margin: 20px 20px 0;
}
.carte p {
  margin: 20px;
  font-size: 1.4rem;
  text-align: justify;
  overflow: hidden;
}
@media screen and (min-width: 500px) {
  .carte {
    width: 400px;
    margin: 3%;
  }
  .img-horse {
    width: 400px;
  }
}
/* section nous trouver */
.location {
  background-color: antiquewhite;
}
.location h2 {
  text-align: center;
  font-size: 2rem;
  padding: 2vh 0;
}
.location hr {
  text-align: center;
  width: 80%;
  margin: 0 auto 2vh;
}
.google {
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
}
.google iframe {
  width: 80%;
  height: 400px;
}
@media screen and (min-width: 850px) {
  .location h2 {
    font-size: 3rem;
    padding: 3vh 0;
  }
  .location hr {
    width: 500px;
    margin: 0 auto 5vh;
  }
  .google iframe {
    width: 800px;
    height: 600px;
  }
}
/* footer */
footer {
  background-color: #373737;
  color: antiquewhite;
  text-align: center;
  padding: 1vh 0;
}
.social-media a {
  font-size: 1.5rem;
  padding: 0 10px;
}
.social-media a:hover {
  opacity: 0.75;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footer h3 {
  font-size: 1.4rem;
}
.f-address, .f-mail-tel {
  font-size: 1rem;
}
@media screen and (min-width: 650px) {
  .footer {
    padding: 0vh 10px 1vh 20px;
    flex-direction: row;
  }
  .f-address, .f-mail-tel {
    font-size: 1.2rem;
  }
}