/* main background image */
.bg-ocean {
  height: 100vh;
  width: 100%;
  background: url(../media/bg-ocean.jpg) no-repeat center/cover;
}
.arrow-down {
  position: relative;
  margin: 10vh auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #37373781;
}
.arrow-down i {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  .slogan p:nth-child(1) {
    font-size: 3rem;
  }
  .slogan p:nth-child(3) {
    font-size: 1.5rem;
  }
}
/* Nos balades */
.nos-balades {
  padding: 6vh 0;
  background: linear-gradient(to bottom, rgb(143, 143, 143) 0%,rgba(55,55,55,1) 41%,rgba(55,55,55,1) 48%,rgba(55,55,55,1) 54%,rgba(55,55,55,1) 61%,rgba(55,55,55,1) 68%,rgba(143,143,143,1) 100%);
}
/* partie texte */
.balades h2 {
  font-size: 2rem;
}
.before {
  position: relative;
  width: 50%;
  margin: 10px auto;
}
.text-balade .before::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -10px);
  width: 0%;
  height: 5px;
  background-color: #8f8f8f;
  transition: all 1s ease;
}
.text-balade:hover .before::before {
  width: 100%;
} 
.balades p {
  font-size: 1.3rem;
  padding: 10px;
}
.balades button {
  cursor: pointer;
  padding: 20px;
  margin-top: 50px;
  background-color: #373737;
  color: antiquewhite;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 10% / 50%;
  box-shadow: 2px 2px 5px #000;
  transition: all 0.5s ease;
}
.balades button:hover {
  opacity: 0.8;
}
/* partie image */
.balade-1, .balade-2 {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 0 10px 5px 0;
  box-shadow: 2px 2px 5px rgb(24, 24, 24);
  background: antiquewhite;
  border-radius: 2% / 50%;
  display: grid;
  grid-auto-columns: auto;
  gap: 5px;
}
@media screen and (max-width: 1200px){
  .balade-1, .balade-2 {
    width: 90%;
  }
}
.balade-1 {
  grid-template: 50% 50% / 50% 25% 25%;
}
.balade-2 {
  margin-top: 6vh;
  grid-template: 50% 50% / 25% 25% 50%;
}
.text-balade-1, .text-balade-2 {
  align-self: center;
  text-align: center;
  padding: 20px;
}
.text-balade-1 {
  grid-area: 1 / 1 / 3 / 2;
}
.text-balade-2 {
  grid-area: 1 / 3 / 3 / 4;
}
.balade-1::after, .balade-2::after {
  content: '';
  position: absolute;
  background-color: antiquewhite;
  width: 2%;
  height: 100%;
}
.balade-1::after {
  left: 49.5%;
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
}
.balade-2::after {
  right: 49.5%;
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
}
.group-1, .group-2 {
  min-height: 30vh;
}
.photo-1 {
  background: url(../media/balade-foret-1.jpg) no-repeat center/cover;
  grid-area: 1 / 2 / 2 / 3;
}
.photo-2 {
  background: url(../media/balade-foret-2.jpg) no-repeat center/cover;
  grid-area: 1 / 3 / 2 / 4;
  border-radius: 0 8% 0 0 / 0 100% 0 0;
}
.photo-3 {
  background: url(../media/balade-foret-3.jpg) no-repeat center/cover;
  grid-area: 2 / 2 / 3 / 4;
  border-radius: 0 0 4% 0 / 0 0 100% 0;
}
.photo-4 {
  background: url(../media/balade-ocean-1.jpg) no-repeat center/cover;
  grid-area: 1 / 1 / 2 / 2;
  border-radius: 8% 0 0 0 / 100% 0 0 0;
}
.photo-5 {
  background: url(../media/balade-ocean-2.jpg) no-repeat center/cover;
  grid-area: 1 / 2 / 2 / 3;
}
.photo-6 {
  background: url(../media/balade-ocean-3.jpg) no-repeat center/cover;
  grid-area: 2 / 1 / 2 / 3;
  border-radius: 0 0 0 4% / 0 0 0 100%;
}
@media screen and (max-width: 900px) {
  .balade-1, .balade-2 {
    grid-template: 30vh 1fr 29vh / 50% 50%;
    border-radius: 2% / 30%;
    row-gap: 0;
    padding-right: 5px;
  }
  .balade-1 {
    margin-bottom: 6vh;
  }
  .text-balade-1, .text-balade-2 {
    grid-area: 2 / 1 / 3 / 3;
    padding: 10px;
  }
  .text-balade h2 {
    font-size: 1.4rem;
    padding: 5px;
  }
  .text-balade p {
    font-size: 1.1rem;
  }
  .text-balade button {
    margin: 0;
    font-size: 1rem;
    padding: 10px;
  }
  .balade-1::after, .balade-2::after {
    display: none;
  }
  .photo-1, .photo-4 {
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 4% 0 0 0 / 100% 0 0 0;
  }
  .photo-2, .photo-5 {
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 0 4% 0 0 / 0 100% 0 0;
  }
  .photo-3, .photo-6 {
    grid-area: 3 / 1 / 4 / 3;
    border-radius: 0 0 2% 2% / 0 0 100% 100%;
  }
}

