body {
  background-color:  rgb(143, 143, 143);
  height: 100vh;
}
.contact-bg h2, .contact-bg hr {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  color: antiquewhite;
}
.contact-bg h2 {
  padding: 15vh 0 3vh;
  font-size: 2rem;
}
.form {
  margin: 0 auto;
  width: 90%;
}
.label.nom {
  padding-top: 20px;
}
.label, .input, .textarea, .submit {
  display: block;
  font-size: 1.4rem;
  font-family: 'Abel', sans-serif;
  outline: none;
  width: 100%;
}
.label {
  font-weight: bold;
  padding: 15px 0 10px;
}
.input, .textarea {
  font-size: 1.2rem;
  padding: 3px 0 3px 3px;
  border-radius: 5px;
  border: none;
  border: 1px solid #373737;
}
.input:focus, .textarea:focus {
  box-shadow: 0 0 15px #373737;
}
.submit {
  background-color: #373737;
  color: antiquewhite;
  margin: 15px 0 15vh;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}
.submit:active {
  opacity: 0.8;
}
@media screen and (min-width: 650px) {
  .form {
    width: 600px;
  }
  .submit {
    margin-bottom: 35vh;
  }
}