/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Abel', sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* header */
header {
  position: fixed;
  width: 100%;
  z-index: 2;

}
.header {
  position: relative;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(60, 60, 60);
  color: antiquewhite;
  padding: 0 20px;
}
.club-name {
  display: flex;
  align-items: center;
}
.fa-horse {
  font-size: 1.5rem;
}
.club-name h1 {
  font-size: 1.8rem;
  margin-left: 8px;
}
.navbar li {
  display: inline-block;
}
.navbar a {
  padding: calc((8vh - 1.2rem) / 2) 2vh;
  font-size: 1.2rem;
  font-family: sans-serif;
  transition: all 0.4s;
}
.navbar a:hover {
  border-bottom: 3px solid antiquewhite;
  padding-bottom: calc((8vh - 1.2rem) / 2 - 3px);
  background-color: rgb(94, 90, 90);
}
@media screen and (max-width: 1250px) {
   .burger {
    position: absolute;
    right: 15px;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  .burger span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: antiquewhite;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.5s ease-in-out;
  }
  .burger span::before, .burger span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: antiquewhite;
    transition: transform 0.5s ease-in-out;
  }
  .burger span::before {
    transform: translateY(-10px);
  }
  .burger span::after {
    transform: translateY(10px);
  }
  .burger.active span {
    background-color: transparent;
  }
  .burger.active span::before {
    transform: translateY(0) rotateZ(-45deg);
  }
  .burger.active span::after {
    transform: translateY(0) rotateZ(45deg);
  }
  .navbar ul {
    position: absolute;
    top: 8vh;
    right: -450px;
    z-index: 2;
    box-shadow: -2px 2px 6px #333333;
    transition: right 1s ease-in-out;
    min-width: 40%;
  }
  .navbar.active ul {
    right: 0;
  }
  .navbar li {
    display: block;
    background-color: rgb(70, 70, 70);
  }
  .navbar a {
    display: block;
    border-top: 0.5px solid antiquewhite;
    padding: 15px 35px;
    font-size: 1rem;
  }
  .navbar a:hover {
    padding-bottom: calc(15px - 2px);
    border-bottom: none;
  }
}
/* main background image */
.bg-image {
  height: 100vh;
  width: 100%;
  background: url(media/bg-1.jpg) no-repeat center/cover;
  animation: slider-bg 40s linear infinite;
  animation-delay: 5s;
}
@keyframes slider-bg {
  0% {
    background-image: url(media/bg-1.jpg);
  }
  25% {
    background-image: url(media/bg-3.jpg);
  }
  50% {
    background-image: url(media/bg-1.jpg);
  }
  75% {
    background-image: url(media/bg-3.jpg);
  }
  100% {
    background-image: url(media/bg-1.jpg);
  }
}
.slogan {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color:  antiquewhite;
  text-shadow: 2px 2px 5px #373737;
  animation: intro 5s ease forwards;
}
.slogan p:nth-child(1) {
  font-size: 3rem;
  margin-bottom: 2vh;
}
.slogan p:nth-child(3) {
  margin: 2vh auto;
  font-size: 1.4rem;
}
@keyframes intro {
  to {
    top: 50%;
  }
}
/* section about */
.about {
  height: 0vh;
}
.content-about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: antiquewhite;
}
.text-about, .img-about {
  width: 40%;
  margin: 10vh auto;
}
.text-about h2 {
  text-align: center;
  font-size: 2rem;
  margin: 3vh 0;
}
.text-about p {
  text-align: justify;
  font-size: 1.5rem;
  margin: 3vh 0;
}
.img-about {
  height: 60vh;
  background: url(media/bg-2.jpg) no-repeat center/cover;
  box-shadow: 3px 3px 8px black;
  border-radius: 10px;
}
@media screen and (max-width: 1250px) {
  .content-about {
    flex-direction: column;    
  }
  .text-about, .img-about {
    width: 80%;
    margin: 10vh auto;
  }
}